.app-container {
  // position: fixed;
  // width: 100%;
  // height: 100%;
}

.casket-design-app {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 30%;
  gap: 0;

  .casket-canvas-comp {
    height: 100%;
  }

  .design-tool-comp {
    height: 100%;
  }
}

.tool-header {
  margin-bottom: 2em;
}

.design-tool-comp {
  padding: 2em;
  box-sizing: border-box;

  h4.heading-text {
    margin: 0 0 1em;
    font-size: 1.4em;
  }
}

.planes-view-tools {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 4em;

  .plane-view-item {
    height: 80px;
    border: solid 1px #eee;
    padding: 1em;
    cursor: pointer;

    &:hover {
      background: #eee;
    }
  }
}